/*  HTML5 ✰ Boilerplate  */

body { font:13px/1.231 "Roboto", sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
* {
    box-sizing: border-box;
}

/* Tic tac toe */
h1 {
    font-size: 175%;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

.board {
    float: left;
    font-size: 250%;
    font-weight: bold;
    margin-right: 40px;
}

.board td {
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
}

.board td.best {
    background-color: #F5F5F5;
}

.board #one,
.board #two {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.board #three,
.board #six {
    border-bottom: 1px solid #333;
}

.board #four,
.board #five {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.board #seven,
.board #eight {
    border-right: 1px solid #333;
}

/* line */
.game-over .g-cell {
    color: #999;
}

.game-over .g-line {
    color: #0c0;
}

/* flex utilities */
.g-center {
    text-align: center;
}
#app {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
.g-gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

/* buttons */
.g-animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.g-button {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;  
}
.btn-blue {
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}
.g-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

/* checkbox */
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
